In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('INV12.csv')
data.head()

,Timestamp,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current
0,2023-06-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-06-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-06-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-06-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-06-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8832 entries, 0 to 8831
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             8832 non-null   object
 1   12-01 String current  8820 non-null   float64
 2   12-02 String current  8820 non-null   float64
 3   12-03 String current  8820 non-null   float64
 4   12-04 String current  8820 non-null   float64
 5   12-05 String current  8820 non-null   float64
 6   12-06 String current  8820 non-null   float64
 7   12-07 String current  8820 non-null   float64
 8   12-08 String current  8820 non-null   float64
 9   12-09 String current  8820 non-null   float64
 10  12-10 String current  8820 non-null   float64
dtypes: float64(10), object(1)
memory usage: 759.1+ KB

Praleistų stebėjimų nėra.

In [ ]:
data['Timestamp']= pd.to_datetime(data['Timestamp']) #Pakeiciam i datetime agregavimo logikai veliau

0       2023
1       2023
2       2023
3       2023
4       2023
        ...
8827    2023
8828    2023
8829    2023
8830    2023
8831    2023
Name: Timestamp, Length: 8832, dtype: int32

In [ ]:
data["month_day"]=data['Timestamp'].dt.strftime('%m-%d')
data[90:110:4]["month_day"] #paimsim dienas ir sugrupuosim ir sudesim i viena diena
data.groupby(data["month_day"]).sum(numeric_only=True)

,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current,day
month_day,,,,,,,,,,,
06-01,594.124586,338.697514,536.674710,609.516762,581.241931,618.453187,622.711852,612.983700,595.246786,625.636597,96
06-02,362.869455,153.844808,317.122937,364.838073,356.018568,388.182501,376.331070,369.897145,366.031603,392.519903,192
06-03,412.428681,265.086138,408.943657,428.356033,420.729970,435.083759,434.508590,435.332534,428.258132,438.638257,288
06-04,517.606477,339.515939,520.731566,522.834711,525.960208,540.440341,530.992814,528.802079,525.924244,533.414169,384
06-05,699.267340,341.265049,671.790328,731.540563,706.682061,752.652783,748.734912,744.459872,724.169359,757.722706,480
...,...,...,...,...,...,...,...,...,...,...,...
08-27,232.302352,128.079753,218.868841,235.391796,227.261061,243.538172,236.993673,237.515249,236.874751,240.605828,2592
08-28,230.042951,95.474597,174.491063,237.719117,208.857127,248.397259,241.913437,236.749493,233.971338,250.150295,2688
08-29,187.020153,56.900476,139.511063,190.219907,157.073152,202.780029,195.716594,196.062528,190.650162,203.466495,2784
08-30,448.814833,265.857394,378.785747,439.809946,429.141943,454.134567,444.282323,445.250360,437.378103,448.406735,2880
08-31,131.044197,64.888210,125.028419,132.338953,128.466275,141.472251,132.737431,137.883441,140.214375,137.726997,2976

In [ ]:
#AS ESU IR NEZINAU KA DARAU, BET KODAS VEIKIA, TAI GERAI

In [ ]:
#testing 67 
#testing 67 six seven