In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('INV12.csv')
data.describe()

data

,Timestamp,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current
0,2023-06-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-06-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-06-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-06-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-06-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8827,2023-08-31 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8828,2023-08-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8829,2023-08-31 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8830,2023-08-31 23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8831,2023-08-31 23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
data_ma.head(5)

,Timestamp,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current
0,2023-06-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-06-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-06-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-06-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-06-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
data.columns = ['Timestamp'] + [f'string_{i}' for i in range(1, 11)]

In [84]:
data[2730:2750]

,Timestamp,string_1,string_2,string_3,string_4,string_5,string_6,string_7,string_8,string_9,string_10
2730,2023-06-29 10:30:00,15.016788,10.816833,16.496210,16.389011,16.562021,16.809666,16.543755,16.559599,16.381144,16.503944
2731,2023-06-29 10:45:00,8.110845,6.736322,8.498266,8.304089,8.422900,8.674045,8.415000,8.506711,8.374300,8.444144
2732,2023-06-29 11:00:00,2.963778,3.003711,2.968678,2.719989,2.942533,2.995989,2.744322,2.939422,2.911622,2.900000
2733,2023-06-29 11:15:00,3.316211,3.228522,3.263255,2.931600,3.193222,3.242378,3.046655,3.128278,3.142611,3.182533
2734,2023-06-29 11:30:00,3.479111,3.536667,3.410645,2.918000,3.336311,3.320000,3.040700,3.151133,3.114000,3.230000
2735,2023-06-29 11:45:00,4.031322,4.022789,3.912078,3.446922,3.841833,3.856922,3.530867,3.652811,3.562311,3.771644
2736,2023-06-29 12:00:00,4.215378,3.869167,3.991411,3.677444,3.982255,4.041367,3.799111,3.882133,3.706178,4.050756
2737,2023-06-29 12:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2738,2023-06-29 12:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2739,2023-06-29 12:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2740,2023-06-29 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2741,2023-06-29 13:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2742,2023-06-29 13:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2743,2023-06-29 13:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2744,2023-06-29 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,2023-06-29 14:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2746,2023-06-29 14:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2747,2023-06-29 14:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2748,2023-06-29 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2749,2023-06-29 15:15:00,5.005068,2.294563,4.568854,5.074796,4.995573,5.394427,5.258602,5.331961,5.203786,5.275689

Praleistų stebėjimų nėra.

In [85]:
data['Timestamp']= pd.to_datetime(data['Timestamp']) #Pakeiciam i datetime agregavimo logikai veliau

In [86]:
data["month_day"]=data['Timestamp'].dt.strftime('%m-%d')
data[90:110:4]["month_day"] #paimsim dienas ir sugrupuosim ir sudesim i viena diena

90     06-01
94     06-01
98     06-02
102    06-02
106    06-02
Name: month_day, dtype: object

In [87]:
#AS ESU IR NEZINAU KA DARAU, BET KODAS VEIKIA, TAI GERAI

In [88]:
import pandas as pd
s = pd.Series([10, 20, 30], index=["t1","t2","t3"])
print(s.shift(1))

t1     NaN
t2    10.0
t3    20.0
dtype: float64

In [89]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('INV12.csv')
data.describe()

,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current
count,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000
mean,4.501404,2.395640,4.113235,4.597593,4.391461,4.755349,4.694894,4.666490,4.560028,4.774360
std,5.437441,3.389710,5.322889,5.543242,5.483792,5.695036,5.594234,5.584508,5.486701,5.592902
min,-0.000533,0.000000,-0.064067,-0.050000,-0.002411,0.000000,-0.093278,-0.081511,-0.082456,-0.098067
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.470689,0.790000,1.249111,1.529800,1.384178,1.599778,1.717111,1.616200,1.592833,1.887161
75%,8.928369,3.004653,7.297361,9.093936,8.426658,9.469714,9.276000,9.140436,8.793703,9.377272
max,17.629566,12.389600,18.599455,18.764977,18.692743,19.206766,19.031466,18.822367,18.484999,19.034555

Praleistų stebėjimų nėra.

In [8]:
data['Timestamp']= pd.to_datetime(data['Timestamp']) #Pakeiciam i datetime agregavimo logikai veliau

In [ ]:
data_ma["month_day_hour"]=data_ma['Timestamp'].dt.strftime('%m-%d-%H')
data["hour"]=data['Timestamp'].dt.hour
data.columns = ['Timestamp'] + [f'string_{i}' for i in range(1, 11)] + ['month_day_hour', 'hour']
filtered_data = data[data['hour'].between(12, 15)]
filtered_data_2=filtered_data.groupby(filtered_data["month_day_hour"]).sum(numeric_only=True)
filtered_data_2[filtered_data_2["string_1"]!=0].describe()

,Timestamp,string_1,string_2,string_3,string_4,string_5,string_6,string_7,string_8,string_9,string_10,month_day_hour,hour
0,2023-06-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06-01-00,0
1,2023-06-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06-01-00,0
2,2023-06-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06-01-00,0
3,2023-06-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06-01-00,0
4,2023-06-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06-01-01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8827,2023-08-31 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,08-31-22,22
8828,2023-08-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,08-31-23,23
8829,2023-08-31 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,08-31-23,23
8830,2023-08-31 23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,08-31-23,23
8831,2023-08-31 23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,08-31-23,23

In [27]:
data_ma["month_day_hour"]=data_ma['Timestamp'].dt.strftime('%m-%d-%H')
data_ma["hour"]=data_ma['Timestamp'].dt.hour
data_ma.columns = ['Timestamp'] + [f'string_{i}' for i in range(1, 11)] + ['month_day_hour', 'hour']
filtered_data = data_ma[data_ma['hour'].between(12, 15)]
filtered_data_2=filtered_data.groupby(filtered_data["month_day_hour"]).sum(numeric_only=True)
filtered_data_2[filtered_data_2["string_1"]!=0].describe()

,string_1,string_2,string_3,string_4,string_5,string_6,string_7,string_8,string_9,string_10,hour
count,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000
mean,40.514741,19.199191,39.741104,40.473457,40.451053,41.838905,40.936896,41.053042,40.679159,41.086612,54.000000
std,15.747694,10.598951,16.112217,15.805159,15.894134,16.077828,15.872928,15.789211,15.594387,15.782830,4.478225
min,1.200000,0.800000,1.419778,1.257111,1.200000,1.760000,1.543111,1.618667,2.080000,1.680000,48.000000
25%,29.300860,9.856850,28.066149,29.398949,29.183010,30.240144,29.622582,29.824060,29.647477,29.839127,51.000000
50%,42.563982,16.899644,41.769315,42.941316,42.714544,44.269077,43.379304,43.351382,42.833411,43.386777,54.000000
75%,53.066993,27.871930,52.886160,53.401087,53.184233,54.822288,53.795693,53.855634,53.238654,53.872818,57.000000
max,64.765400,44.121622,70.938631,70.843912,71.159731,72.866920,71.475986,71.445997,70.839586,71.616322,60.000000

In [22]:
data_ma= data.copy()
data_ma['moving_avg_string_1'] = data_ma['string_1'].rolling(window=5).mean()
data_ma['moving_avg_string_2'] = data_ma['string_2'].rolling(window=5).mean()
data_ma['moving_avg_string_3'] = data_ma['string_3'].rolling(window=5).mean()
data_ma['moving_avg_string_4'] = data_ma['string_4'].rolling(window=5).mean()
data_ma['moving_avg_string_5'] = data_ma['string_5'].rolling(window=5).mean()
data_ma['moving_avg_string_6'] = data_ma['string_6'].rolling(window=5).mean()
data_ma['moving_avg_string_7'] = data_ma['string_7'].rolling(window=5).mean()
data_ma['moving_avg_string_8'] = data_ma['string_8'].rolling(window=5).mean()
data_ma['moving_avg_string_9'] = data_ma['string_9'].rolling(window=5).mean()
data_ma['moving_avg_string_10'] = data_ma['string_10'].rolling(window=5).mean()

data_ma['string_1']= data_ma['string_1'].fillna(data_ma['moving_avg_string_1'].ffill())
data_ma['string_2']= data_ma['string_2'].fillna(data_ma['moving_avg_string_2'].ffill())
data_ma['string_3']= data_ma['string_3'].fillna(data_ma['moving_avg_string_3'].ffill())
data_ma['string_4']= data_ma['string_4'].fillna(data_ma['moving_avg_string_4'].ffill())
data_ma['string_5']= data_ma['string_5'].fillna(data_ma['moving_avg_string_5'].ffill())
data_ma['string_6']= data_ma['string_6'].fillna(data_ma['moving_avg_string_6'].ffill())
data_ma['string_7']= data_ma['string_7'].fillna(data_ma['moving_avg_string_7'].ffill())
data_ma['string_8']= data_ma['string_8'].fillna(data_ma['moving_avg_string_8'].ffill())
data_ma['string_9']= data_ma['string_9'].fillna(data_ma['moving_avg_string_9'].ffill())
data_ma['string_10'] = data_ma['string_10'].fillna(data_ma['moving_avg_string_10'].ffill())

In [23]:
# Drop moving average columns
data_ma = data_ma.drop(columns=[f'moving_avg_string_{i}' for i in range(1, 11)])

data_ma[2730:2750]

,Timestamp,string_1,string_2,string_3,string_4,string_5,string_6,string_7,string_8,string_9,string_10,month_day_hour,hour
2730,2023-06-29 10:30:00,15.016788,10.816833,16.496210,16.389011,16.562021,16.809666,16.543755,16.559599,16.381144,16.503944,06-29-10,10
2731,2023-06-29 10:45:00,8.110845,6.736322,8.498266,8.304089,8.422900,8.674045,8.415000,8.506711,8.374300,8.444144,06-29-10,10
2732,2023-06-29 11:00:00,2.963778,3.003711,2.968678,2.719989,2.942533,2.995989,2.744322,2.939422,2.911622,2.900000,06-29-11,11
2733,2023-06-29 11:15:00,3.316211,3.228522,3.263255,2.931600,3.193222,3.242378,3.046655,3.128278,3.142611,3.182533,06-29-11,11
2734,2023-06-29 11:30:00,3.479111,3.536667,3.410645,2.918000,3.336311,3.320000,3.040700,3.151133,3.114000,3.230000,06-29-11,11
2735,2023-06-29 11:45:00,4.031322,4.022789,3.912078,3.446922,3.841833,3.856922,3.530867,3.652811,3.562311,3.771644,06-29-11,11
2736,2023-06-29 12:00:00,4.215378,3.869167,3.991411,3.677444,3.982255,4.041367,3.799111,3.882133,3.706178,4.050756,06-29-12,12
2737,2023-06-29 12:15:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-12,12
2738,2023-06-29 12:30:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-12,12
2739,2023-06-29 12:45:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-12,12
2740,2023-06-29 13:00:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-13,13
2741,2023-06-29 13:15:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-13,13
2742,2023-06-29 13:30:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-13,13
2743,2023-06-29 13:45:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-13,13
2744,2023-06-29 14:00:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-14,14
2745,2023-06-29 14:15:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-14,14
2746,2023-06-29 14:30:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-14,14
2747,2023-06-29 14:45:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-14,14
2748,2023-06-29 15:00:00,3.601160,3.532171,3.509213,3.138791,3.459231,3.491331,3.232331,3.350756,3.287344,3.426987,06-29-15,15
2749,2023-06-29 15:15:00,5.005068,2.294563,4.568854,5.074796,4.995573,5.394427,5.258602,5.331961,5.203786,5.275689,06-29-15,15

In [97]:
data_ma_days = data.copy()
intervals_per_day = 96  

for i in range(1, 11):
    col_name = f'string_{i}'
    shifted_values = [data_ma_days[col_name].shift(intervals_per_day * day) for day in range(1, 4)]
    data_ma_days[f'moving_avg_string_{i}'] = pd.concat(shifted_values, axis=1).mean(axis=1)

for i in range(1, 11):
    col_name = f'string_{i}'
    data_ma_days[col_name] = data_ma_days[col_name].fillna(data_ma_days[f'moving_avg_string_{i}'].ffill())

#^
##        0      1      2      3      4
# 0    NaN    NaN    NaN    NaN    NaN
# 1    NaN    NaN    NaN    NaN    NaN
# ...
# 96   10.0   NaN    NaN    NaN    NaN      
# 97   11.0   NaN    NaN    NaN    NaN
# ...
# 192  100.0  10.0   NaN    NaN    NaN      
# 193  101.0  11.0   NaN    NaN    NaN

#Minusas sio metodo yra tai kad reikia daugiau stebejimu, lieka daugiau neuzpildytu atveju, taip pat
#praeitu penkiu dienu oras gali skirtis labai skirtis nuo kitos dienos, todel nebutina kad tai bus geras budas uzpildyti trukstamus duomenis;

#pvz 06-29 12:15
# data_ma_days.iloc[[2737,2737-96,2737-192,2737-288,2737-384]] #paimsim 5 dienas atgal ir paziuresim ar oras buvo panasus