In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv('INV12.csv')
data.describe()

,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current
count,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000,8820.000000
mean,4.501404,2.395640,4.113235,4.597593,4.391461,4.755349,4.694894,4.666490,4.560028,4.774360
std,5.437441,3.389710,5.322889,5.543242,5.483792,5.695036,5.594234,5.584508,5.486701,5.592902
min,-0.000533,0.000000,-0.064067,-0.050000,-0.002411,0.000000,-0.093278,-0.081511,-0.082456,-0.098067
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.470689,0.790000,1.249111,1.529800,1.384178,1.599778,1.717111,1.616200,1.592833,1.887161
75%,8.928369,3.004653,7.297361,9.093936,8.426658,9.469714,9.276000,9.140436,8.793703,9.377272
max,17.629566,12.389600,18.599455,18.764977,18.692743,19.206766,19.031466,18.822367,18.484999,19.034555

In [8]:
data[2730:2750]

,Timestamp,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current
2730,2023-06-29 10:30:00,15.016788,10.816833,16.496210,16.389011,16.562021,16.809666,16.543755,16.559599,16.381144,16.503944
2731,2023-06-29 10:45:00,8.110845,6.736322,8.498266,8.304089,8.422900,8.674045,8.415000,8.506711,8.374300,8.444144
2732,2023-06-29 11:00:00,2.963778,3.003711,2.968678,2.719989,2.942533,2.995989,2.744322,2.939422,2.911622,2.900000
2733,2023-06-29 11:15:00,3.316211,3.228522,3.263255,2.931600,3.193222,3.242378,3.046655,3.128278,3.142611,3.182533
2734,2023-06-29 11:30:00,3.479111,3.536667,3.410645,2.918000,3.336311,3.320000,3.040700,3.151133,3.114000,3.230000
2735,2023-06-29 11:45:00,4.031322,4.022789,3.912078,3.446922,3.841833,3.856922,3.530867,3.652811,3.562311,3.771644
2736,2023-06-29 12:00:00,4.215378,3.869167,3.991411,3.677444,3.982255,4.041367,3.799111,3.882133,3.706178,4.050756
2737,2023-06-29 12:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2738,2023-06-29 12:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2739,2023-06-29 12:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2740,2023-06-29 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2741,2023-06-29 13:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2742,2023-06-29 13:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2743,2023-06-29 13:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2744,2023-06-29 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,2023-06-29 14:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2746,2023-06-29 14:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2747,2023-06-29 14:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2748,2023-06-29 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2749,2023-06-29 15:15:00,5.005068,2.294563,4.568854,5.074796,4.995573,5.394427,5.258602,5.331961,5.203786,5.275689

Praleistų stebėjimų nėra.

In [ ]:
data['Timestamp']= pd.to_datetime(data['Timestamp']) #Pakeiciam i datetime agregavimo logikai veliau

0       2023
1       2023
2       2023
3       2023
4       2023
        ...
8827    2023
8828    2023
8829    2023
8830    2023
8831    2023
Name: Timestamp, Length: 8832, dtype: int32

In [ ]:
data["month_day"]=data['Timestamp'].dt.strftime('%m-%d')
data[90:110:4]["month_day"] #paimsim dienas ir sugrupuosim ir sudesim i viena diena
data.groupby(data["month_day"]).sum(numeric_only=True)

,12-01 String current,12-02 String current,12-03 String current,12-04 String current,12-05 String current,12-06 String current,12-07 String current,12-08 String current,12-09 String current,12-10 String current,day
month_day,,,,,,,,,,,
06-01,594.124586,338.697514,536.674710,609.516762,581.241931,618.453187,622.711852,612.983700,595.246786,625.636597,96
06-02,362.869455,153.844808,317.122937,364.838073,356.018568,388.182501,376.331070,369.897145,366.031603,392.519903,192
06-03,412.428681,265.086138,408.943657,428.356033,420.729970,435.083759,434.508590,435.332534,428.258132,438.638257,288
06-04,517.606477,339.515939,520.731566,522.834711,525.960208,540.440341,530.992814,528.802079,525.924244,533.414169,384
06-05,699.267340,341.265049,671.790328,731.540563,706.682061,752.652783,748.734912,744.459872,724.169359,757.722706,480
...,...,...,...,...,...,...,...,...,...,...,...
08-27,232.302352,128.079753,218.868841,235.391796,227.261061,243.538172,236.993673,237.515249,236.874751,240.605828,2592
08-28,230.042951,95.474597,174.491063,237.719117,208.857127,248.397259,241.913437,236.749493,233.971338,250.150295,2688
08-29,187.020153,56.900476,139.511063,190.219907,157.073152,202.780029,195.716594,196.062528,190.650162,203.466495,2784
08-30,448.814833,265.857394,378.785747,439.809946,429.141943,454.134567,444.282323,445.250360,437.378103,448.406735,2880
08-31,131.044197,64.888210,125.028419,132.338953,128.466275,141.472251,132.737431,137.883441,140.214375,137.726997,2976

In [ ]:
#AS ESU IR NEZINAU KA DARAU, BET KODAS VEIKIA, TAI GERAI

In [ ]:
kdmasdkasmdaskld
#testing 67 
#testing 67 sixS seven
#finally 67
fsdf